.banner {
  height: 50vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.banner1 {
  background-image: url("../img/image-01.jpg");
}

.banner2 {
  background-image: url("../img/image-05.jpg");
}
