/* COMMON */

:root {
  --color-primary: #905729;
  --color-primary-hover: #693e1a;
  --color-primary-transparent: #9057296c;
}

body {
  font-family: "Montserrat";
  position: relative;
}

a:hover {
  color: var(--color-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.page-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.page-section .section-title {
  display: inline-block;
  font-weight: 200;
  font-size: 2rem;
  position: relative;
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.page-section .nav-pills {
  justify-content: center;
}

.page-section .nav-pills .nav-link {
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  color: #777777;
  border-radius: 0;
}

.page-section .nav-pills .nav-link.active {
  color: black;
  border: none;
  background: none;
  border-bottom: 3px solid black;
}

.page-section .tab-content {
  border-radius: 0.3rem;
  padding: 2rem;
  width: 100%;
  background-color: white;
}

.page-section > div > .tab-content {
  border: 1px solid #d8d8d8;
}

.tooltip {
  z-index: 9999;
}

/* COMMON */

/*NAVBAR*/
.navbar {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.637);
  position: fixed;
  top: 2rem;
  z-index: 999;
  width: 100%;
  transition: all 1s;
  width: 70%;
}

.navbar-scroll {
  top: 0;
  background-color: white;
}

@media (max-width: 992px) {
  .navbar {
    top: 0;
    background-color: white;
    width: 100%;
  }
}

.navbar .nav-item {
  margin-right: 1rem;
  padding: 0;
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(31, 31, 31);
  height: 100%;
  display: inline-block;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  position: relative;
  color: var(--color-hover);
}

@media (max-width: 576px) {
  .navbar-brand {
    flex-basis: 70%;
  }
}
/*NAVBAR*/

/* BANNER */
.banner {
  position: relative;
}
.banner .carousel-item {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-buttons {
  position: relative;
  width: 70%;
}

.carousel-control-next,
.carousel-control-prev {
  bottom: 1rem;
  top: auto;
  z-index: 99;
}

/* BANNER */

/* CONTACT FORM */
.contact-form {
  background-color: var(--color-primary-transparent);
  height: 100vh;
  width: 30%;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  padding: 4rem 2rem 2rem 2rem;
  z-index: 999;
}

@media (max-width: 992px) {
  .contact-form {
    position: static;
    height: auto;
    width: 100%;
    padding: 2rem;
    margin-top: 6rem;
  }
}

.contact-form h5 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 0px 0px 10px #000000;
}

.contact-form h2 {
  color: white;
  font-weight: 800;
  font-size: 1.7rem;
  text-shadow: 0px 0px 10px #000000;
}

.contact-form .contact-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.contact-form .contact-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(111, 225, 250);
  text-decoration: none;
}

.contact-form .contact-items a:hover {
  color: white;
  background-color: var(--color-primary-hover);
}

.contact-form .project-info-buttons {
  background-color: rgba(0, 0, 0, 0.623);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}

.contact-form .project-info-buttons a {
  text-decoration: none;
  color: beige;
}

.contact-form .project-info-buttons span {
  width: 1px;
  background-color: white;
}

.contact-form .alert,
.contact-form select,
.contact-form button,
.contact-form input,
.contact-form textarea {
  border-radius: 0;
}

.contact-form select:focus,
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  box-shadow: none;
}

.contact-form form {
  margin: 0;
  padding: 0;
  position: relative;
}

.contact-form .alert {
  padding: 4rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.897);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  color: white;
  margin: 0;
  z-index: 99;
}

.contact-form .alert button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: beige;
}

/* CONTACT FORM */

/* MAIN */
main {
  width: 70%;
}

@media (max-width: 992px) {
  main {
    width: 100%;
  }
}

main section {
  padding: 5rem 2rem 3rem 2rem;
}
/* MAIN */

/* SECTION PROJECT */
section.project .project-box {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

section.project .project-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.255);
}

section.project .project-box:hover::after {
  background-color: rgba(0, 0, 0, 0.446);
}

section.project .project-box:hover a {
  opacity: 1;
}

section.project .project-box:hover img {
  transform: scale(1.2);
}

section.project .project-box img {
  transition: all 1s;
}
section.project .project-box .title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 10;
}

section.project .project-box .title h6::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 1rem;
  background-color: var(--color-primary);
}

section.project .project-box a {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 1s;
}

/* PROPERTY COMMON */

section.property-common div[class^="col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.property-common .texts {
  width: 70%;
}

section.property-common .texts h2 {
  font-size: 2rem;
  font-weight: 700;
}

section.property-common .texts h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

section.property-common .texts p {
  line-height: 2rem;
}

/* SECTION PLANS VILLA */
section.plans-villa {
  background-image: url("../img/villa-sluet.jpg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  section.plans-villa {
    background: none;
  }
}

section.plans-villa table {
  text-align: left;
}
/* SECTION PLANS VILLA */

/* SECTION PLANS APARTMENT */
section.plans-apartment {
  background-image: url("../img/apartman-sluet.jpg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  section.plans-apartment {
    background: none;
  }
}

section.plans-apartment table {
  text-align: left;
}
/* SECTION PLANS APARTMENT */

/* SECTION PROJECT PROPERTIES */
section.project-properties .row {
  background-color: #bdbdbd;
}

section.project-properties ul {
  list-style: none;
  text-align: left;
}

section.project-properties ul li {
  line-height: 2rem;
}

section.project-properties ul li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 0.5rem;
  color: var(--color-primary);
}

section.project-properties .bg-project-property {
  background-image: url("../img/gallery/dis-mekan/apartman/apartman-dis-mekan-03.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* SECTION PROJECT PROPERTIES */

/* LOCATION */

section.location {
  font-size: 0.9rem;
}
/* LOCATION */

/* CONTACT */

section.contact .contact-info h4 {
  color: rgb(138, 138, 138);
  margin-bottom: 1rem;
}
/* CONTACT */

/* FOOTER */
footer {
  background-color: var(--color-primary);
  padding: 3rem;
  text-align: center;
  width: 70%;
  color: rgb(196, 196, 196);
}

@media (max-width: 992px) {
  footer {
    width: 100%;
  }
}

footer a {
  color: rgb(196, 196, 196);
}

footer a:hover {
  color: rgb(241, 241, 241);
}
/* FOOTER */
