/*
1. GENEL
2. HEADER
3. BANNER
4. HAKKIMDA
5. HIZMETLER
6. MUSTERILER
7. REFERANSLAR
8. ILETİŞİM
9. FOOTER
*/

/* GENEL */
:root {
  --renk1: rgb(134, 1, 116);
  --renk2: rgba(134, 1, 116, 0.849);
}

body {
  font-family: Nunito;
  font-size: 1rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  border: 1px solid white;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
}

button:hover {
  background-color: var(--renk2);
}

/* GENEL */

/* HEADER */
header {
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;

  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  transition: all 0.5s;
}

header nav ul i {
  color: var(--renk1);
}

header nav ul li a:hover i,
header nav ul li a:hover {
  background-color: var(--renk2);
  color: white;
  border-radius: 1rem;
}

/* HEADER */

/* BANNER */
section.banner {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

section.banner .yazilar {
  z-index: 3;
  text-align: center;
  color: white;
}

section.banner .yazilar .hosgeldiniz {
  font-size: 1.3rem;
}

section.banner .yazilar h1 {
  font-size: 3rem;
}

section.banner .yazilar h2 {
  font-size: 1.2rem;
  font-weight: 100;
}

section.banner a {
  color: white;
}

section.banner .mouse {
  margin-top: 2rem;
}

section.banner button {
  margin-top: 2rem;
}
/* BANNER */
